body {
    background-color: #F5f5f5;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #313131;
}

a:hover {
    text-decoration: underline;
    background-color: #313131;
    color: #fff;
}

.textCenter {
    text-align: center;
}

.subAlbumText {
    margin: 0 0 4px 0;
}

#bandMembers {
    list-style: none;
}

#songList {
    width: 80%;
    margin: 0 10% 0 10%;
    border-collapse: collapse;
}

table,
td,
th {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

td {
    font-style: italic;
}

table {
    background-color: #D1E3E5;
}

#songList tr:not(:first-of-type):hover {
    background-color: #fff;
}

.ralewayFont {
    font-family: Raleway, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #DD2330;
}

th {
    background-color: #DD2330;
    color: #000;
}

.xInfinity:first-letter {
    text-transform: lowercase;
    font-weight: bold;
}

hr {
    border: 1px solid #DD2330;
}


.albumImage{
    margin:30px auto;
    width:300px;
    height:300px;
}