
body{
    background-color: #F5f5f5;
}
.textCenter {
    text-align:center;
}
.subAlbumText{
margin:0 0 4px 0;
}
#bandMembers{
    margin-left:15%;
}
#songList{
    width:80%;
    margin:0 10% 0 10%;
    border-collapse: collapse;
}
table,td,th{
        border-bottom:1px solid #ddd;
        padding: 10px;
        text-align:center;
}
#songList tr:not(:first-of-type):hover {
    background-color: #fff;
}
.oswaldFont{
    font-family: Oswald, sans-serif;
    /* Hopefully font's family holiday parties are fun!*/
}
.albumImage{
    background-image: url("watsky.jpg");
    background-size:cover;
    margin:auto;
    width:300px;
    height:300px;
}
