/*Requirement 1*/@import url('https://fonts.googleapis.com/css?family=Passion+One');

body {
    font-family: sans-serif;
}
header {
    margin-bottom: 10px;
}
header h1{
        text-align: center;
}
header a{
    display:inline-block;
    padding:10px 20px;
    border-right: 1px solid #ddd;
}
header a:hover{
    background-color:darkred;
    color:white;
}
.menuBarContainer{
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
footer {
    text-align: center;
    border-top: 1px solid #999;
}
/*Req. 1*/.resName{
font-family: Passion One;
font-size: 64px;
letter-spacing: 3px;
}
/*Someone once said that red makes you hungry*/
/*Req. 3*/.menu{
    background-color: darkred;
    color: #fff;
}
/*Req. 2*/.menu th{
    font-size: 24px;
}
/*Req. 4*/.homeBody{
    background-color: darkkhaki;
    padding:10px;
}
/*Req. 5*/.label{
    font-weight: bold;
}