body {
    font-family: sans-serif;
}
header {
    margin-bottom: 10px;
}
header h1{
        text-align: center;
}
header a{
    display:inline-block;
    padding:10px 20px;
    border-right: 1px solid #ddd;
}
header a:hover{
    background-color:darkred;
    color:white;
}
.menuBarContainer{
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
footer {
    text-align: center;
    border-top: 1px solid #999;
}
