body {
    /*background-color: #e3dbdb;*/
    background-color: #E8AE68;
    font-family: 'Open Sans',Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    background-color: #fff;
}
.icon-bar{
    background-color:#000080;
}
.navbar-img img {
    max-height: 40px;
    margin: 5px 10px;
}
nav li.navItems a{
    color: #000080;
    font-family: "Passion One",Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
nav li.navItems a span{
    font-size: .75em;
}
nav li.navItems a:hover {
    background-color: #d40000;
    color: #fff;
    border-bottom: 1px solid #000080;
}

nav ul li.active {
    background-color: #000080;
    border-bottom: 1px solid #d40000;
}

nav li.active a {
    color: #fff;
}
.jumbotron{

    background-color: #fff;
}
.jumbotron h1, .redText{
    color:#d40000;
}
.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:70px;
   width:100%;
   background-color: #E8AE68;
   box-shadow: 0px -2px 2px #888888;
}

.footer .container-fluid {
    width: 100%;
    color: #d40000;
    padding: 20px;
    font-weight: bold;
}

.footer .footer-text {
    margin: 0;
    text-align: center;
}
.main-body{
        margin-top:75px;
        margin-bottom:75px;
}
.passionFont {
    font-family: "Passion One",Verdana, Geneva, Tahoma, sans-serif;
}
.menuItem{
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:10px;
    margin-top:10px;
}
@media (min-width: 768px) {
  .table-row {
    display: table;
    table-layout: fixed;
    border-spacing:1vw;
    border-collapse: separate;
  }

  .table-row [class^="col-"] {
    display: table-cell;
    float: none;
    
  }
}