body {
    font-family: Open Sans,sans-serif;
}
/*-------------------Header Stuffs-----------------------*/
header {
    background-color: #E8AE68;
    border-radius: 190px 190px 0 0;
}

header a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-family:Passion One, sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
}
header a:active{
    /* I don't like these links underlined regardless,
    but I suppose to meet requirements I'll include this...*/
    text-decoration: none;
}

.navActive {
    background-color: #DB5A42;
    color: white;
}

.menuItem {
    display: inline-block;
}

header div.menuItem:hover {
    background-color: #FFD275;
    color: #fff;
    font-weight: bold;
}

header a:visited {
    color: #000;
}

.resName {
    text-align: center;
    font-family: Passion One;
    font-size: 64px;
    letter-spacing: 3px;
    padding: 50px 0 10px 0;
}
/*-------------------Footer Stuffs-----------------------*/
footer {
    text-align: center;
    height: 100px;
    background-color: #E8AE68;
    border-radius: 0 0 40px 40px;
}

footer h3 {
    margin: 0;
    padding: 10px;
}

/*-------------------Body Stuffs-----------------------*/
.menu th {
    font-size: 24px;
}
.homeBody {
    background-color: #A57F60;
    padding: 10px;
    height: 500px;
}

.label {
    font-weight: bold;
}
.beverages{
    width:20%;
    margin:auto;
}

